/* Override some default styles */

.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: Consolas, monospace;
  font-size: 14px;
  height: 100%;
}

.CodeMirror-linewidget > div {
  overflow-x: auto;
  overflow-y: hidden;
  margin: calc(0.5em - 3px);
  padding: 0.5em;
  background-color: #f7f7f7;
  border: 1px solid #dddddd;
  white-space: pre;
}

.CodeMirror pre.CodeMirror-placeholder {
  color: #999;
}

/*.CodeMirror-gutters*/

.fullscreen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: auto;
}

.fill {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: auto;
  overflow: auto;
}

.font {
  font-family: Segoe UI, Verdana, Tahoma, Arial;
  font-size: 12px;
}

input, a {
  border: 0;
}

input:focus, a {
  outline: 0;
}

/* non-standard */
/* IE 10+ */
.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  cursor: default;
}

.widget-behavior {
  padding: 2px 5px 4px 5px;
}

.widget-color {
  color: black;
  border: 1px solid transparent;
}

.widget-color:hover, .widget-color:focus {
  color: #007aff;
  border: 1px solid #007aff;
}

.widget-color:active {
  color: white;
  background-color: #007aff;
  border: 1px solid #007aff;
}

.disabled-widget-color {
  color: #999;
  border: 1px solid transparent;
}